   .chat-container {
            width: 90vw;
            height: 80vh;
            background-color: transparent;
            border-radius: 8px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 50px auto 0; 
        }

        .chat-header {
            background-color: transparent;
            padding: 15px;
            color: #ffffff;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .chat-header h1 {
            margin: 0;
            font-size: 15px;
        }

        .chat-header img {
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .chat-messages {
            padding: 10px;
            flex-grow: 1;
            overflow-y: auto;
            border-bottom: 1px solid #f0f0f0;
            line-height: 1.6;
            text-align: left;
        }

        .chat-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px;
            border-top: 1px solid #f0f0f0;
        }

        .chat-input input {
            width: calc(100% - 50px);
            padding: 6px;
            border: 2px solid #f0f0f0;
            border-radius: 4px;
        }

        .chat-input button {
            background-color: #2B9ACC;
            border: none;
            padding: 8px;
            color: white;
            cursor: pointer;
            border-radius: 6px;
        }

        .chat-message {
            margin-bottom: 9px;
            display: flex;
            align-items: flex-end;
        }

        .chat-message.user {
            justify-content: flex-end;
        }

        .chat-message.assistant {
            justify-content: flex-start;
        }

        .chat-message p {
            display: block;
            padding: 10px;
            border-radius: 10px;
            max-width: 90%;
            margin: 5px 0;
            line-height: 1.5;
            text-align: left;
        }

        .chat-message.user p {
            background-color: #2B9ACC;
            color: white;
            font-size: 12px;
        }

        .chat-message.assistant p {
            background-color: #f0f0f0;
            color: black;
            font-size: 12px;
            padding: 10px;
            border-radius: 10px;
            max-width: 90%;
            margin: 5px 0;
            line-height: 1.5;
            text-align: left;
            white-space: pre-line; /* Начинать каждое предложение с новой строки */
        }

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .formatted-content {
            padding-left: 10px;
        }

        .hints {
            display: flex;
            justify-content: center; /* Выравнивание по центру */
            gap: 10px; /* Отступ между подсказками */
            margin: 20px 0; /* Отступ сверху и снизу */
        }

        .hint {
            padding: 12px;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-size: 11px; /* Увеличил шрифт для лучшей читаемости */
            border-radius: 40px; /* Округлые края */
            text-decoration: none; /* Убрать подчеркивание ссылки */
            max-width: calc(50% - 20px); /* Установка максимальной ширины с отступом */
            white-space: nowrap; /* Запрет переноса текста */
            overflow: hidden; /* Скрыть лишний текст */
            text-overflow: ellipsis; /* Троеточие для обрезанного текста */
            cursor: pointer; /* Курсор указывает, что элемент кликабельный */
}
